@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

.header{
  position: sticky;
  z-index: 30;
  top: 0;
}
.nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}
.nav__menu_bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu_bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu_list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #f1f1f1;
}
.nav__menu_list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu_bar{
    display: none;
  }
  .nav__menu_list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}

.blogCards {

}
.cardWrapper {
    border-radius: 10px;
    display: inline-block;
    background: #fff;
    position: relative;
    margin: 0 20px;
    width: 300px;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 10px 25px #999;
    margin-bottom: 2rem;
}
  
.pic {
    height: 180px;
    background: url(https://www.filepicker.io/api/file/nsC57aJTOKA3okcoanwS) no-repeat;
    background-size: 130%;
    background-position: center;
    padding: 0;
    margin-bottom: 25px;
}
  
.cardWrapper:hover .pic,
.cardWrapper:focus .pic {
transform: scale(1.2);
}
  
.cardHeader {
padding: 0 20px;
font-size: 18px;
font-weight: bold;
font-style: italic;
padding: 1rem;
min-height: 100px;
}

.desc {
padding: 0 20px;
font-size: 12px;
text-align: justify;
padding: 1rem;
min-height: 230px;
}

.redirectBtn {
padding: 1rem;  
}
  
.readmore {
    height: 40px;
    width: 100px;
    float: left;
    padding-left: 10px;
    line-height: 40px;
    background-color: #8bc34a;
    margin: 0 15px 20px;
    font-size: 12px;
    border-radius: 5px;
}
  
.readmore:hover {
    background-color: #9fdf55;
}
  
.readmore i {
    color: #fff;
    margin-left: 5px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}
  
.readmore:hover i {
    margin: 0 0 0 20px;
}

.delete {
    height: 40px;
    width: 100px;
    float: left;
    padding-left: 10px;
    line-height: 40px;
    background-color: #dd1212;
    margin: 0 15px 20px;
    font-size: 12px;
    border-radius: 5px;
}
  
.delete:hover {
    background-color: #9fdf55;
}
  
.delete i {
    color: #fff;
    margin-left: 5px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}
  
.delete:hover i {
    margin: 0 0 0 20px;
}

.edit {
    height: 40px;
    width: 100px;
    float: left;
    padding-left: 10px;
    line-height: 40px;
    background-color: #8bc34a;
    margin: 0 15px 20px;
    font-size: 12px;
    border-radius: 5px;
}
  
.edit:hover {
    background-color: #9fdf55;
}
  
.edit i {
    color: #fff;
    margin-left: 5px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}
  
.edit:hover i {
    margin: 0 0 0 20px;
}

